extends layout

block head
  title Add Users

block content
  h1 Add Users to an Organization

  != "<script type='text/javascript'>"
  != "var orgs = {"
    - each org in orgs
      != "'" + org.key + "': { description: '" + (org.description || "") + "'},"
  != "};"
  != "</script>"

  form
    .form-group
      label(for='organizationSelect') Choose the organization to add to:
      select#organizationSelect.form-control
        each org, index in orgs
          option(value=org.key, selected= index === 0) #{org.displayName}
      #orgDescription

    .users-to-add-group
      .row
        .col-md-4.form-group
            label(for='githubUser') Github user name
            input#githubUser.form-control(type='text')

        .col-md-4.form-group
          label(for='microsoftAlias') Microsoft Alias
          input#microsoftAlias.form-control(type='text')

        .col.md-1
          button#addButton.btn.btn-primary.add-user-btn(type='button') Add User

      button.btn.btn-warning.submit-add-user-btn(type='submit',value='Send Request') Send Request

  script(src='/javascripts/adduser.js')


