extends layout

block content
  h1= title
  p Welcome to #{title}. There have been #{n} views of this page, dude!

  if user
    p Welcome, #{user.displayName}
  else
    a(href='/users/login') Please log in
