extends layout

block head
  title Azure Authorization UI

block content
  h1 Azure Authorization UI

  if !authorized
    p In order to use this app, you must first log in to Github
    a.btn.btn-primary.btn-lg.active(href='/auth/login') Log into Github
  else
    p Welcome, #{displayName}
    if error
      h1 Error contacting github: #{error}
    else if !repoAccess
      p.
        Unfortunately, the github user #{username} does not have access to the
        required repository. Please log in under a user that does have access to
        the repository, or ask somebody else who does. Thanks!
    else
      if !hasFork
        p You need a fork of the Azure/azure-github-organization repository in your account.
        form(action='/users/createfork', method='post')
          button.btn.btn-primary.btn-lg(type='submit') Create Fork

      else
        p #{organizations}
