extends layout

block head
  title PR from Upstream already open

block content

  h1 Can't sync your fork with upstream

  p.
    In order to add users to the Azure github organization, this web app needs
    to sync your fork of the azure-github-organization repository with the
    master repository. However, your fork currently already has an open
    pull request to merge from the master fork.

  .panel.panel-default
    .panel-heading Your Open Pull Request
    .panel-body
      table.table
        thead
          th Number
          th title
        tbody
          tr
            td
              a(href=url)= number
            td
              a(href=url)= title

  p.
    Please go to that pull request and either merge or close it before returning here
    to this web app. We recommend keeping your master branch as a copy of the upstream
    master branch to avoid merge conflicts.


