{{#contentFor "head"}}
<title>Waiting for fork creation...</title>
<link rel='stylesheet' href='/stylesheets/waitforfork.css' />
<meta http-equiv='refresh' content='5' />
{{/contentFor}}

<h1>Azure Authorization UI</h1>

<h2>
    <span class='glyphicon glyphicon-refresh icon-refresh-animate'></span>
    Waiting for your fork to be ready
<h2>
