extends layout

block head
  title Waiting for fork creation...
  link(rel='stylesheet', href='/stylesheets/waitforfork.css')
  meta(http-equiv='refresh' content='5')

block content
  h1 Azure Authorization UI

  h2
    span.glyphicon.glyphicon-refresh.icon-refresh-animate
    |  Waiting for your fork to be ready
