body {
  padding-top: 50px;
}
.container.content-block {
  padding: 40px 15px;
}

.users-to-add-group {
    padding: 45px 15px 15px;
    border: #E1E1E8 solid 1px;
    border-radius: 4px 4px 0 0;
    position: relative;
}

.users-to-add-group:after {
    color: #BBBBBB;
    font-size: 12px;
    content: "Users to add";
    text-transform: uppercase;
    left: 15px;
    position: absolute;
    top: 15px;
}

#organizationSelect {
    margin-bottom: 15px;
}

#userLineTemplate {
    display: none;
}

.add-user-btn {
    margin-top: 24px;
}

.submit-add-user-btn {
    position: absolute;
    top: 15px;
    right: 15px;
}

.to-add {
    margin-bottom: 5px;
}